*{font-family: tahoma;}
body{
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.container{
    display: grid;
    justify-content:space-evenly;
    grid-template-columns: repeat(auto-fit, 550px);
}
.divBooks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(233, 233, 233);
    height: 200px;
    margin: 10% 20px 20px 20px;
    border-radius: 10px;
    align-items: center;
}

.divBooks div {
    margin: 0 25%;
    align-items: center;
}

.divBooks div h3{
    font-size: 1.1rem;
}
.divBooks div p{
    margin-bottom: 30px;
}

form{
    padding: 5px;
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center
}
form div{
    display:flex;
    flex-direction: column;
    justify-self: center;
    width: 70%;
    margin-bottom:20px
}
form div label {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 800;
}
form div input{
    margin-bottom: 5px;
    height: 20px;
}
#iSend{
    height: 25px;
    width: 50%;
    margin: auto;
}
